In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
def load_data(file_path):
    """
    Loads data from a CSV file.
    """
    return pd.read_csv(file_path)

In [10]:
data = load_data("adult.csv")

In [12]:
data.shape

(32561, 15)

In [16]:
num_question_marks = (data == '?').sum().sum()
print(f"Number of '?' values in the dataframe: {num_question_marks}")

Number of '?' values in the dataframe: 4262

In [18]:
num_rows_with_question_marks = data.isin(['?']).any(axis=1).sum()
print(f"Number of rows with at least one '?' value: {num_rows_with_question_marks}")

Number of rows with at least one '?' value: 2399

In [14]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [7]:
data.replace('?', np.nan, inplace=True)
data.shape

(32561, 15)

In [9]:
data.dropna(inplace=True)
data.shape

(30162, 15)